<img class="grow3" width="75" alt="" src="assets/THREE_of_{{firstSuit}}.png" (click)="setFR('THREE')">
<img class="grow4" width="75" alt=""src="assets/FOUR_of_{{firstSuit}}.png" (click)="setFR('FOUR')">
<img class="grow5" width="75" alt=""src="assets/FIVE_of_{{firstSuit}}.png" (click)="setFR('FIVE')">
<img class="grow6" width="75" alt=""src="assets/SIX_of_{{firstSuit}}.png" (click)="setFR('SIX')">
<img class="grow7" width="75" alt=""src="assets/SEVEN_of_{{firstSuit}}.png" (click)="setFR('SEVEN')">
<img class="grow8" width="75" alt=""src="assets/EIGHT_of_{{firstSuit}}.png" (click)="setFR('EIGHT')">
<img class="grow9" width="75" alt=""src="assets/NINE_of_{{firstSuit}}.png" (click)="setFR('NINE')">
<img class="grow10" width="75" alt=""src="assets/TEN_of_{{firstSuit}}.png" (click)="setFR('TEN')">
<img class="grow11" width="75" alt=""src="assets/JACK_of_{{firstSuit}}.png" (click)="setFR('JACK')">
<img class="grow12" width="75" alt=""src="assets/QUEEN_of_{{firstSuit}}.png" (click)="setFR('QUEEN')">
<img class="grow13" width="75" alt=""src="assets/KING_of_{{firstSuit}}.png" (click)="setFR('KING')">
<img class="grow14" width="75" alt=""src="assets/ACE_of_{{firstSuit}}.png" (click)="setFR('ACE')">

<img class="growS1" width="75" alt="" src="assets/SPADES.png" (click)="setFS('SPADES')">
<img class="growS2" width="75" alt="" src="assets/HEARTS.png"(click)="setFS('HEARTS')">
<img class="growS3" width="75" alt="" src="assets/CLUBS.png" (click)="setFS('CLUBS')">
<img class="growS4" width="75" alt="" src="assets/DIAMONDS.png" (click)="setFS('DIAMONDS')">

<img class="grow3B" width="75" alt="" src="assets/THREE_of_{{secondSuit}}.png" (click)="setSR('THREE')">
<img class="grow4B" width="75" alt=""src="assets/FOUR_of_{{secondSuit}}.png" (click)="setSR('FOUR')">
<img class="grow5B" width="75" alt=""src="assets/FIVE_of_{{secondSuit}}.png" (click)="setSR('FIVE')">
<img class="grow6B" width="75" alt=""src="assets/SIX_of_{{secondSuit}}.png" (click)="setSR('SIX')">
<img class="grow7B" width="75" alt=""src="assets/SEVEN_of_{{secondSuit}}.png" (click)="setSR('SEVEN')">
<img class="grow8B" width="75" alt=""src="assets/EIGHT_of_{{secondSuit}}.png" (click)="setSR('EIGHT')">
<img class="grow9B" width="75" alt=""src="assets/NINE_of_{{secondSuit}}.png" (click)="setSR('NINE')">
<img class="grow10B" width="75" alt=""src="assets/TEN_of_{{secondSuit}}.png" (click)="setSR('TEN')">
<img class="grow11B" width="75" alt=""src="assets/JACK_of_{{secondSuit}}.png" (click)="setSR('JACK')">
<img class="grow12B" width="75" alt=""src="assets/QUEEN_of_{{secondSuit}}.png" (click)="setSR('QUEEN')">
<img class="grow13B" width="75" alt=""src="assets/KING_of_{{secondSuit}}.png" (click)="setSR('KING')">
<img class="grow14B" width="75" alt=""src="assets/ACE_of_{{secondSuit}}.png" (click)="setSR('ACE')">

<img class="growS1B" width="75" alt="" src="assets/SPADES.png" (click)="setSS('SPADES')">
<img class="growS2B" width="75" alt="" src="assets/HEARTS.png"(click)="setSS('HEARTS')">
<img class="growS3B" width="75" alt="" src="assets/CLUBS.png" (click)="setSS('CLUBS')">
<img class="growS4B" width="75" alt="" src="assets/DIAMONDS.png" (click)="setSS('DIAMONDS')">

<img class="Ally1" width="100" alt="" src="assets/{{firstRank}}_of_{{firstSuit}}.png">
<img class="Ally2" width="100" alt="" src="assets/{{secondRank}}_of_{{secondSuit}}.png">

<button class="button button1" (click)="confirmAllies()">CONFIRM ALLIES</button>